
@model Widget

@{
    var list = new SelectList(Model.TableAndColumns.Keys);
}

<form>
    <div class="form-group">
        <label for="Heading">Heading</label>
        @Html.TextBoxFor(m => m.Heading, new { @class = "form-control" })
        @Html.HiddenFor(m => m.ElementTemplateID)
    </div>
    <div class="form-group">
        <label for="Heading">Sub Heading</label>
        @Html.TextBoxFor(m => m.SubHeading, new { @class = "form-control" })

    </div>
    <div class="form-group">
        <label for="SourceName">Source</label>
        @Html.DropDownListFor(m => m.SourceName, list, "Select Source", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="isFilteredByRole">Filter result by Role?</label>
        @Html.CheckBoxFor(m=>m.isFilteredByRole)
    </div>
    <div class="form-group">
        <label for="isFilteredByUserId">Filter result by UserId?</label>
        @Html.CheckBoxFor(m => m.isFilteredByUserId)
    </div>
</form>

