@{
    ViewBag.Title = "Dashboard Elements";
    string actionName = "CreateWidget";
    string LinkName = "Select";
}



@*@if (ViewBag.isEditWidget == null)
{
    actionName = "CreateWidget";
    LinkName = "Select";
}
else
{
    actionName = "EditWidget";
    LinkName = "Edit";
}*@



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Elements List
    </h1>
</section>

<!-- Main content -->
<form>
    <section class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <!-- Element1 -->
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <button type="btn" onclick="" class="btn custom-btn waves-effect waves-light m-b-10 pull-right" id="1">Add</button>
                        <div class="white-box" style="width: 400px; height: 300px">
                            <div class="white-box" style="height:350px; width:100%; padding-left:0px; padding-right:0px; padding-bottom:0px;">
                                @{ Html.RenderPartial("Element1.cshtml"); }
                            </div>
                        </div>
                    </div>
                    <!-- Element2 -->
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        @Html.ActionLink(LinkName, actionName, "Dashboard", new { TemplatedID = 2 }, new { @class = "btn custom-btn waves-effect waves-light m-b-10 pull-right" })
                        <div class="white-box" style="width: 400px; height: 300px">
                            <div class="white-box" style="height:350px; width:100%; padding-left:0px; padding-right:0px; padding-bottom:0px;">
                                @{ Html.RenderPartial("Element2.cshtml", new TileCard3()); }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Element3 -->
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        @Html.ActionLink(LinkName, actionName, "Dashboard", new { TemplatedID = 3 }, new { @class = "btn custom-btn waves-effect waves-light m-b-10 pull-right" })
                        <div class="white-box" style="width: 400px; height: 300px">
                            <div class="white-box" style="height:350px; width:100%; padding-left:0px; padding-right:0px; padding-bottom:0px;">
                                @{ Html.RenderPartial("Element3.cshtml", new PieChart()); }
                            </div>
                        </div>
                    </div>
                    <!-- Element4 -->
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        @Html.ActionLink(LinkName, actionName, "Dashboard", new { TemplatedID = 4 }, new { @class = "btn custom-btn waves-effect waves-light m-b-10 pull-right" })
                        <div class="white-box" style="width: 400px; height: 300px">
                            <div class="white-box" style="height:350px; width:100%; padding-left:0px; padding-right:0px; padding-bottom:0px;">
                                <br>@{ Html.RenderPartial("Element4.cshtml", new PieChart()); }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Element3 -->
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        @Html.ActionLink(LinkName, actionName, "Dashboard", new { TemplatedID = 5 }, new { @class = "btn custom-btn waves-effect waves-light m-b-10 pull-right" })
                        <div class="white-box" style="width: 400px; height: 300px">
                            <div class="white-box" style="height:350px; width:100%; padding-left:0px; padding-right:0px; padding-bottom:0px;">
                                @{ Html.RenderPartial("Element5.cshtml", new PieChart()); }
                            </div>
                        </div>
                    </div>
                    <!-- Element4 -->
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <button type="btn" onclick="" class="btn custom-btn waves-effect waves-light m-b-10 pull-right" id="9">Add</button>
                        <div class="white-box" style="width: 400px; height: 300px">
                            <div class="white-box" style="height:350px; width:100%; padding-left:0px; padding-right:0px; padding-bottom:0px;">
                                <br>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Element6 -->
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        @Html.ActionLink(LinkName, actionName, "Dashboard", new { TemplatedID = 6 }, new { @class = "btn custom-btn waves-effect waves-light m-b-10 pull-right" })
                        <div class="white-box" style="width: 400px; height: 300px">
                            <div class="white-box" style="height:350px; width:100%; padding-left:0px; padding-right:0px; padding-bottom:0px;">
                                <br>@{ Html.RenderPartial("Element6.cshtml", new TileCard2()); }
                            </div>
                        </div>
                    </div>
                    <!-- Element7 -->
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        @Html.ActionLink(LinkName, actionName, "Dashboard", new { TemplatedID = 7 }, new { @class = "btn custom-btn waves-effect waves-light m-b-10 pull-right" })
                        <div class="white-box" style="width: 400px; height: 300px">
                            <div class="white-box" style="height:350px; width:100%; padding-left:0px; padding-right:0px; padding-bottom:0px;">
                                <br>@{ Html.RenderPartial("Element7.cshtml", new TileCard1()); }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Element8 -->
                    <div class="col-md-12 col-lg-12 col-xs-12">
                        <button type="btn" onclick="" class="btn custom-btn waves-effect waves-light pull-right" id="8">Add</button>
                        <div class="white-box" style="height: 300px">
                            <div class="white-box" style="height:350px; width:100%; padding-left:0px; padding-right:0px; padding-bottom:0px;">
                                <br>@{ Html.RenderPartial("Element8.cshtml"); }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</form>

<!--<script>

    $(function() {

        $('button.btn').on('click', function(e){

            var dashboardId = '@ViewData["dashboardId"]';-->
@*$.ajax(
    {
        type: "POST",
        url: '@Url.Action("AddElement", "Dashboard")',
        data: {
            DashboardId: dashboardId,
            ElementId: this.id,
            Placement: localStorage.getItem("placement")
        },
        error: function (result) {
            alert(result);
        },
        success: function (result) {

            if (result == "True") {
                window.location = "/Dashboard/Dashboard/"+dashboardId;
            }
            else {
                alert("There is a Problem!");
            }
        }
    });*@

<!--$.ajax(
            {
                type: "POST",
                url: '@Url.Action("CreateWidget", "Dashboard")',
                data: {
                    TempleteID: this.id
                },
                error: function (result) {
                    alert(result);
                },
                success: function (result) {

                    if (result == "True") {
                        window.location = "/Dashboard/Dashboard/"+dashboardId;
                    }
                    else {
                        alert("There is a Problem!");
                    }
                }
             });

        });

    });
</script>-->
